.description{
    margin: 10px 0px 0px 0px;
    color: brown;
    text-transform: uppercase;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatarBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

