.header{
    background-color: brown;
    padding: 5px;
    position:sticky;
    top:0px;
    z-index: 50;
}
.headerLogo img{
    width: 65px;
    height: 47px;
}
.headerContainer{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginBlock a {
    color: white;
}
.loginBlock {
    color: white;
}