@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.nav{
    background-color: rgb(236,238,242);
}
.itemNav{
    margin: 20px 10px 0px 0px;
}
.itemNav a{
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 10px;
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
}
.itemNav a:hover{
    background-color: rgba(128, 128, 128, 0.5);
}
.itemNav a.active{
    background-color: rgba(165, 42, 42, 0.5);
}
.itemNav a img{
    width: 17px;
    height: 17px;
    margin: 0px 7px 0px 0px;
}