.ProfileInfoBlock{
    width: 250px;
    height: 300px;
    background-color: white;
    margin: 0px 0px 0px 10px;
    padding: 10px;
    border-radius: 5px;
}
.avatarImage{
    width: 100%;
    height: 100%;
}
.avatarImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatarBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
